* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    left: 0;
    top: 0;
    width: 1005;
    height: 80px;
}

header h4 {
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;
}

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #424244;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    /* border: 2px solid transparent; */
    width: 90%;
    height: 90%;
    /* border-style: ridge; */
}

.logo {
    display: block;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.logo-header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
    ;
}

.rigth {
    text-align: right;
    color: #ffffff;
}

.facebook {
    display: inline;
    margin-top: 4%;
    margin-left: 90.5%;
    margin-right: auto;
    max-width: 4%;
    border: 2px solid #ffffff;
}

.instagram {
    display: inline;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    max-width: 4%;
    border: 2px solid #ffffff;
}

.logo-header:hover:before {
    animation: animate 2.5s linear forwards;
    animation-iteration-count: infinite;
}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
        border-top-color: #ffffff;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50% {
        width: 100%;
        height: 0;
        border-top-color: #ffffff;
        border-right-color: #ffffff;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100% {
        width: 100%;
        height: 92%;
        border-top-color: #ffffff;
        border-right-color: #ffffff;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.logo-header:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
    ;
}

.logo-header:hover:after {
    animation: animate2 2.5s linear forwards;
    animation-iteration-count: infinite;
}

@keyframes animate2 {
    0% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: #ffffff;
    }
    50% {
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #ffffff;
        border-left-color: #ffffff;
    }
    100% {
        width: 92%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #ffffff;
        border-left-color: #ffffff;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331!important;
    }
}

.carousel,
.carousel .carousel-inner,
.carousel .carousel-inner .active,
.carousel .carousel-inner .carousel-item,
.view,
body,
html {
    height: 100%
}


/* .navbar {
    background-color: rgba(0, 0, 0, .2)
} */

.page-footer,
.top-nav-collapse {
    background-color: #1C2331
}

@media only screen and (max-width:768px) {
    .navbar {
        background-color: #1C2331
    }
}

.view {
    transition: 1.5s;
}

.view:hover {
    transform: scale(1.05);
}

.text_size {
    font-size: 80px;
}